table {
    border-collapse: collapse;
}

table,
th {
    border: 1px solid gray;
}

td {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

th,
td {
    padding: 5px 8px;
}

/* From https://github.com/TheZ3ro/sorttable/README.md */
/* Sortable tables */
table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}

/* Add row numbers *
/* Modified from  https://kryogenix.org/code/browser/sorttable */
table.sortable tbody {
    counter-reset: sortabletablescope;
    background-color:#eee;
}
table.sortable thead tr::before {
    border-bottom: 1px solid gray;
    content: "";
    display: table-cell;
}
table.sortable tbody tr::before {
    content: counter(sortabletablescope);
    counter-increment: sortabletablescope;
    display: table-cell;
    padding-top: 6px;
    padding-left: 6px;
    padding-right: 6px;
    text-align: right;
    color:#666666;
}

/* Show "sort icons" before the table is sorted */
/* From https://kryogenix.org/code/browser/sorttable */
table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
    content: " \25B4\25BE" 
}

/* Alternately striping the table */
/* Modified from https://kryogenix.org/code/browser/sorttable */
table.sortable tbody tr:nth-child(2n) td {
  background: #f0f0f0;
}
table.sortable tbody tr:nth-child(2n+1) td {
  background: #fff;
}

.numerical {
    text-align: right;
}
